services:
  runalyze:
    image: runalyze:latest
    ports:
      - "8080:80"
    #  - "443:443"
    env_file:
      - .env
    environment:
      DATABASE_HOST: db
      DATABASE_NAME: ${RUNALYZE_DB_NAME}
      DATABASE_USER: ${RUNALYZE_DB_USER}
      DATABASE_PASSWORD: ${RUNALYZE_DB_PW}
      SECRET: ${RUNALYZE_SECRET}
    volumes:
    #- ${VOL_MAIL_MSMTPRC}:/etc/msmtprc:ro
    #- ${VOL_MAIL_ALIASES}:/etc/aliases:ro
    #- ${VOL_CERT_PUB_DIR}/${CERT_NAME}.crt:/etc/nginx/ssl/public.crt:ro
    #- ${VOL_CERT_PRI_DIR}/${CERT_NAME}.key:/etc/nginx/ssl/private.key:ro
    - ${VOL_LOG_ROOT}/runalyze:/var/log/runalyze
    - ${VOL_LOG_ROOT}/nginx:/var/log/nginx
    - ${VOL_RUNALYZE_DATA_ROOT}/srtm:/app/runalyze/data/srtm
    - ${VOL_RUNALYZE_DATA_ROOT}/activityimport:/app/runalyze_import
    depends_on:
    - db
  db:
    image: mariadb:11.1.2-jammy
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PW}
      MYSQL_DATABASE: ${RUNALYZE_DB_NAME}
      MYSQL_USER: ${RUNALYZE_DB_USER}
      MYSQL_PASSWORD: ${RUNALYZE_DB_PW}
    #ports:
    #  - "3306:3306"
    volumes:
      - ${VOL_DB_ROOT}:/var/lib/mysql
